@media (width <= 570px){

/*     html{
        font-size: 37%;
    } */

    .grid1{
        grid-template-columns: 1fr;
    }

    .subsBody{
        min-width: 50rem;
    }

    /* .align{
        max-width: 300px;
        margin: auto;
        padding: 0.5rem;
    }

    .minpad{
        padding: 1rem;
    }

    .subsBody{
        padding: 3rem;
    } */

}
